.features {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  &::before {
    background-color: #5368df;
    content: '';
    height: resizer(140, 25vw, 320);
    right: 62.5%;
    top: clamp(23.625rem, 60vw, 26.625rem);
    width: 100%;
    border-bottom-right-radius: 10.75rem;
    border-top-right-radius: 10.75rem;
    z-index: -1;
    position: absolute;

    @media only screen and (max-width: 800px) {
      top: clamp(36.5rem, 45vw, 100rem);
      height: resizer(120, 45vw, 320);
      right: 25%;
    }
  }
  &_wrapper {
    margin: auto;
    // max-height: convert-rem(929);

    @include respondMin(800px) {
      padding: 0 clamp(2rem, 12.2vw, 10.25rem) resizer(175, 10vw, 250);
    }
    @media only screen and (max-width: 800px) {
      padding: 0 2rem resizer(96, 10vw, 156);
    }
    position: relative;
    max-width: 100rem;
  }
  &_content {
    max-width: 33.75rem;
    margin: auto;
    text-align: center;
  }
  &_title {
    color: $very-dark-blue;
    font-size: 2rem;
    font-weight: 500;
    @media only screen and (max-width: 800px) {
      font-size: convert-rem(25);
    }
  }
  &_text {
    font-size: resizer(15, 1.5vw, 18);
    color: $grayish-blue;
    line-height: 1.55;
    margin: 1.625rem 0 2.25rem;
  }

  &_tabs {
    display: flex;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 4.5rem;
    }
    margin: 0 auto 4.5rem;
    max-width: 45.625rem;
    justify-content: space-between;
  }

  .tabs_selection {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    color: $grayish-blue;
    font-size: 1.0625rem;
    padding: 1.875rem 0 1.8125rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: $soft-red !important;
    }
    &:last-of-type::before {
      background-color: $soft-red;
      bottom: 0;
      content: '';
      height: 0.25rem;
      left: 0;
      position: absolute;
      transform: translateX(0%);
      transition: transform 0.35s ease;
      width: 100%;
      @media only screen and (max-width: 800px) {
        width: 9rem;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.5s ease;
      }
    }

    &[data-selected='true'] {
      color: $very-dark-blue;
    }
    &:first-of-type[data-selected='true'] {
      ~ .tabs_selection:last-of-type::before {
        transform: translateX(-200%);
        @media only screen and (max-width: 800px) {
          transform: translateX(-50%);
        }
      }
    }
    &:nth-of-type(2)[data-selected='true'] {
      ~ .tabs_selection:last-of-type::before {
        transform: translateX(-100%);
        @media only screen and (max-width: 800px) {
          transform: translateX(-50%);
        }
      }
    }
    &:last-of-type[data-selected='true'] {
      ~ .tabs_selection:last-of-type::before {
        transform: translateX(0%);
        @media only screen and (max-width: 800px) {
          transform: translateX(-50%);
        }
      }
    }
    @media only screen and (max-width: 800px) {
      &::before {
        background-color: $soft-red;
        bottom: 0;
        content: '';
        height: 0.25rem;
        position: absolute;
        width: 9rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      &[data-selected='true']::before {
        opacity: 1;
      }
    }
  }
  &_descriptions {
    position: relative;
    transition: opacity 0.5s ease;

    .feature_description {
      display: flex;
      align-items: center;
      position: relative;
      opacity: 1;
      transition: all 0.5s ease;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }

      &.hide {
        opacity: 0;
        display: none;
      }
      &_img {
        flex: 0 1 50%;
        margin: 0 auto;

        @media only screen and (max-width: 800px) {
          margin-bottom: convert-rem(80);
        }
      }
      &_content {
        flex: 0 1 50%;
        padding: 3.75rem 0 0 5.875rem;
        text-align: left;
        margin: 0 auto;
        max-width: 33.75rem;
        @media only screen and (max-width: 800px) {
          text-align: center;
          padding: 0;
        }
        @include respondMin(800px) {
          padding: clamp(0rem, 2vw, 3.75rem) 0 0 clamp(1.5rem, 8vw, 5.875rem);
        }

        .description_title {
          color: $very-dark-blue;
          font-size: 2rem;
          font-weight: 500;
          @media only screen and (max-width: 800px) {
            font-size: convert-rem(25);
          }
        }
        .description_text {
          margin: clamp(0.875rem, 2vw, 1.625rem) 0 2.25rem;
          color: $grayish-blue;
          font-size: clamp(0.9375rem, 1.5vw, 1.125rem);
          line-height: 1.55;
        }
        .description_more_info {
          padding: 0.8125rem 1.375rem;
          @media only screen and (max-width: 800px) {
            display: none;
          }
        }
      }
    }
  }
}
